


.header {
    background-color: #405876;
    color: white;
    display: flex;
    justify-content: center;
    height: 80px;
    padding-bottom: 20px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
  }

form, button {
    display: flex;
    justify-content: flex-end;
}

form {
    align-items: center;
    background-color: #405876;
    /* border-radius: 10px; */
    color: white;
    display: flex;
    font-size: 60px;
    font-weight: bold;
    padding: 0px 60px;
    box-shadow: 2px 3px grey;

}

button {
    background-color: #323232;
    border-radius: 20px;
    color: white;
    display: flex;
    font-size: 10px;
    font-weight: bold;
    margin: 0 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
  
  }

  .image { 
    background-image: url("https://i.pinimg.com/originals/9e/ea/b0/9eeab0fb045184bde87504e12a564b50.jpg");
    background-size: cover;
    margin: 0 auto;
    height: 100vh;
  }
  
 .searchResults  {
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding: 20px 20px;
    font-size: 20px;
    text-decoration: underline;
}

.recipe {
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}  

.recipe h2 {
    padding-top: 5px;
    margin-bottom: -5px;
}

.recipe ul{
    font-size: 15px;
  
 
}

.link{
    background-color: #323232;
    border-radius: 20px;
    color: white;
    display: flex;
    font-size: 10px;
    font-weight: bold;
    margin: 0 20px;
    margin-bottom: 10px;
    padding: 10px 20px;

    /* background-color: #323232;
    padding-top: 5px;
    /* padding-bottom: 15px; */
    /* font-size: 20px;
    margin-bottom: auto;   */ 

}


  footer {
    background-color: #405876;
    height: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    display: flex;
    justify-content: center;

}


@media only screen and (max-width: 600px) {
    .header {
        padding-bottom: 10px;
    }

    a {
        font-size: 20px;
    }


    .recipe h1 {
        font-size: 15px;
        text-align: center;
    }

    .recipe h2 {
        text-decoration: underline;
        text-align: center;
        font-size: 15px;
    }

    .recipe h3{
        font-size: 15px;
    }

    
    .link {
        font-size: 10px;
        display: flex;
        justify-content: center; 

    }
    
    footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    }

}

@media only screen and (max-width: 1024px) {
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        }


}